<ion-view view-title="ALL REVIEW" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="review">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="padding-top-3 review-icon">
            <img src="img/review-header-icon.png">
        </div>
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <div class="row height-4em padding-top-15">
            <div class="col blue-text-color padding-top-6 padding-left-8">Display total 7 reviews</div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 theme-color-yellow font-size-25">
                    <span class="notification-number">9</span>
                </i>
                <div class="col"><p class="date-color">May 06 2015</p></div>
            </div>
            <div class="row">
                <span class="theme-font-grey-color font-size-12 text-ellipses">
                    The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </span>
                <div class="col" ui-sref="reviewDetails"><i class="icon ion-chevron-right theme-font-grey-color arrow-align-right"></i></div>
            </div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 theme-color-yellow font-size-25">
                    <span class="notification-number">8</span></i>
                <div class="col"><p class="date-color">May 06 2015</p></div>
            </div>
            <div class="row">
                <span class="theme-font-grey-color font-size-12 text-ellipses">
                    The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </span>
                <div class="col" ui-sref="reviewDetails"><i class="icon ion-chevron-right theme-font-grey-color arrow-align-right"></i></div>
            </div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 theme-color-yellow font-size-25">
                    <span class="notification-number">7</span></i>
                <div class="col"><p class="date-color">May 06 2015</p></div>
            </div>
            <div class="row">
                <span class="theme-font-grey-color font-size-12 text-ellipses">
                    The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </span>
                <div class="col" ui-sref="reviewDetails"><i class="icon ion-chevron-right theme-font-grey-color arrow-align-right"></i></div>
            </div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 color-oragered font-size-25">
                    <span class="notification-number">2</span></i>
                <div class="col"><p class="date-color">May 06 2015</p></div>
            </div>
            <div class="row">
                 <span class="theme-font-grey-color font-size-12 text-ellipses">
                    The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </span>
                <div class="col" ui-sref="reviewDetails"><i class="icon ion-chevron-right theme-font-grey-color arrow-align-right"></i></div>
            </div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 color-oragered font-size-25">
                    <span class="notification-number">2</span></i>
                <div class="col"><p class="date-color">May 06 2015</p></div>
            </div>
            <div class="row">
               <span class="theme-font-grey-color font-size-12 text-ellipses">
                    The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </span>
                <div class="col" ui-sref="reviewDetails"><i class="icon ion-chevron-right theme-font-grey-color arrow-align-right"></i></div>
            </div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 color-oragered font-size-25">
                    <span class="notification-number">2</span></i>
                <div class="col"><p class="date-color">May 06 2015</p></div>
            </div>
            <div class="row">
                <span class="theme-font-grey-color font-size-12 text-ellipses">
                    The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </span>
                <div class="col" ui-sref="reviewDetails"><i class="icon ion-chevron-right theme-font-grey-color arrow-align-right"></i></div>
            </div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 color-oragered font-size-25">
                    <span class="notification-number">2</span></i>
                <div class="col"><p class="date-color">May 06 2015</p></div>
            </div>
            <div class="row">
                 <span class="theme-font-grey-color font-size-12 text-ellipses">
                    The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </span>
                <div class="col" ui-sref="reviewDetails"><i class="icon ion-chevron-right theme-font-grey-color arrow-align-right"></i></div>
            </div>
        </div>
    </ion-content>
</ion-view>
