<div class="modal">
<ion-header-bar class="bar bar-stable">
    <h1 class="title">PAYMENT</h1>
    <button side="left" class="headerBar">
        <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="bookingSelectStartTime" ng-click="closeModal()">
    </button>
</ion-header-bar>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <hr class="nav-bar-progress-hr width-20em">
        <div class="text-align-center padding-right-16">
            <img class="width-17dot2em height-10dot7em" src="img/scanCard.png">
        </div>
        <div class="text-align-center">
            <img class="width-1dot8em" src="img/imageedit_1_5115582935.gif">
        </div>
        <div class="text-align-center">
            <p>Position Card in this frame</p>
        </div>
    </ion-content>
    <!--<div class="bar bar-footer" ng-class="{ 'bar-balanced': isValidStep }" ng-click="next()">
        <div class="title">Next</div>
    </div>-->
    <ion-footer-bar align-title="center" class="next-footer-green" ng-click="closeModal()">
        <p class="title font-family-serif">CLOSE</p>
    </ion-footer-bar>
</div>


