<ion-view view-title="REGISTER" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="bookingPayment">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <i class="ion-ios-information-outline nav-black-button font-size-25"></i>
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <hr class="nav-bar-progress-hr" style="width: 22.5em; !important">
        <div class="row no-padding">
            <span class="col no-padding text-center font-color-grey font-family-cursive">Create an account to mange your booking</span>
        </div>
        <div class="viewBackground height-10dot5em">
            <div class="row">
                <div class="col col-10 list padding-left-0">
                    <label class="item border-none padding-top-13  padding-left-6">
                        <span><img src="img/at.png" class="width-18 height-18"></span>
                    </label>
                    <label class="item border-none padding-top-5 padding-left-6">
                        <span><img src="img/password.png" class="width-18 height-18"></span>
                    </label>
                    <label class="item border-none padding-top-4  padding-left-6 background-color-none">
                        <span><img src="img/confirmPassword.png" class="width-18 height-22"></span>
                    </label>
                </div>
                <div class="col">
                    <div class="list">
                        <label class="item item-input border-top-none border-LR-none">
                            <span class="input-label placeholder-grey-color font-color-grey" style="font-size: 12px;margin-left: -14px">Email</span>
                            <input class="textFont" type="text">
                        </label>
                        <label class="item item-input border-LR-none">
                            <span class="input-label placeholder-grey-color font-color-grey label-font-margin">Password</span>
                            <input class="textFont" type="password">
                        </label>
                        <label class="item item-input border-LR-none border-bottom-none">
                            <span class="input-label placeholder-grey-color font-color-grey label-font-margin">Confirm Password</span>
                            <input class="textFont" type="password">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-top-5">
            <p class="font-color-grey" style="text-align: center;">Already have an account? <span style="color: cadetblue;" ui-sref="bookingLogin">Login Here</span></p>
        </div>
    </ion-content>
    <!-- <div class="bar bar-footer" ng-class="{ 'bar-balanced': isValidStep }" ng-click="next()">
         <div class="title">Next</div>
     </div>-->
    <ion-footer-bar align-title="center" class="next-footer-green" ui-sref="dashboard">
        <p class="title font-family-serif">SUBMIT</p>
    </ion-footer-bar>
</ion-view>
