<ion-view view-title="YOUR HOME" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="bookingExtra">
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <hr class="nav-bar-progress-hr width-6dot5em">
        <div class="row no-padding">
            <span class="col no-padding text-center font-color-grey font-family-cursive">How about cleaning supply</span>
        </div>
        <div class="wrapperDiv">
            <div class="row has-header">
                <div class="col col-offset-10">
                    <div class="row padding-left-25  padding-top-1dot5px" ng-if="clicked[0]" ng-click="clicked[0] = false"><img class="clickImageLogo" src="img/clickLogo.png"></div>
                    <div class="row padding-left-30" ng-if="!clicked[0]" ng-click="clicked[0] = true"><img class="imgSize" src="img/mop.png"></div>
                    <p class="row font-color-grey font-family-cursive textAlign">I will provide</p>
                </div>
                <div class="col">
                    <div class="row padding-left-35 padding-top-2px" ng-if="clicked[1]" ng-click="clicked[1] = false"><img class="clickImageLogo" src="img/clickLogo.png"></div>
                    <div class="row padding-left-40" ng-if="!clicked[1]" ng-click="clicked[1] = true"><img class="imgSize" src="img/sweeper.png"></div>
                    <!--<div class="row" ng-if="!clicked[1]" ng-click="clicked[1] = true" style="padding-left: 40px"><img class="imgSize" src="img/sweeper.png"></div>-->
                    <p class="margin-top-34em font-color-grey font-family-cursive">Cleaner provide</p>
                </div>
            </div>
        </div>
        <div class="row no-padding">
            <span class="col no-padding text-center font-color-grey font-family-cursive">Do you have pets?</span>
        </div>
        <div class="wrapperDiv">
            <div class="row">
                <div class="col col-offset-10">
                    <div class="row padding-top-2px" ng-if="clicked[2]" ng-click="clicked[2] = false"><img class="clickImageLogo" src="img/clickLogo.png"></div>
                    <div class="row" ng-if="!clicked[2]" ng-click="clicked[2] = true"><img class="imgSize" src="img/dogsNotAllowed.png"></div>
                    <p class="row font-color-grey font-family-cursive textAlign padding-left-19">No</p>
                </div>
                <div class="col">
                    <div class="row padding-top-2px" ng-if="clicked[3]" ng-click="clicked[3] = false"><img class="clickImageLogo" src="img/clickLogo.png"></div>
                    <div class="row" ng-if="!clicked[3]" ng-click="clicked[3] = true"><img class="imgSize" src="img/dogsAllowed.png"></div>
                    <p class="row font-color-grey font-family-cursive textAlign paragraphStyle">Dogs</p>
                </div>
                <div class="col">
                    <div class="row padding-top-2px" ng-if="clicked[4]" ng-click="clicked[4] = false"><img class="clickImageLogo" src="img/clickLogo.png"></div>
                    <div class="row padding-top-15" ng-if="!clicked[4]" ng-click="clicked[4] = true"><img class="catImg" src="img/cats.png"></div>
                    <p class="row font-color-grey font-family-cursive textAlign paragraphStyle">Cats</p>
                </div>
            </div>
        </div>
        <div class="row no-padding">
            <span class="col no-padding text-center font-color-grey font-family-cursive">How should the cleaner get in?</span>
        </div>
        <div class="wrapperDiv">
            <div class="row">
                <input type="text" placeholder="e.g I will be home">
            </div>
        </div>
    </ion-content>
   <!-- <div class="bar bar-footer" ng-class="{ 'bar-balanced': isValidStep }" ng-click="next()">
        <div class="title">Next</div>
    </div>-->
    <ion-footer-bar align-title="center" class="next-footer-green" ui-sref="bookingAddress">
        <p class="title font-family-serif">NEXT</p>
    </ion-footer-bar>
</ion-view>
