<ion-view view-title="HOW OFTEN?" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="bookingContact">
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <hr class="nav-bar-progress-hr width-13em">
        <div class="row no-padding">
            <div class="col col-80">
                <div class="row no-padding text-center font-color-grey font-family-cursive font-small">
                    THURSDAY,AUGUST 10
                </div>
                <div class="row no-padding text-center font-color-grey font-family-cursive font-small">
                    1:00pm-4:00pm
                </div>
            </div>
            <div class="col font-x-large padding-top-1em">$90</div>
        </div>
        <div class="viewBackground">
            <ul class="list font-size-small">
                <li class="item item-checkbox checkbox-balanced howOften" ng-click="changeValue(0,1,2,3,4)">
                    <label class="checkbox">
                        <input type="radio" name="group">
                    </label>
                    <label><span ng-class="{'theme-grey-color':selectedIndex[0]==false,'theme-green-color':selectedIndex[0]==true}">Every week</span></label>
                    <label><span class="float-right" ng-class="{'theme-grey-color':selectedIndex[0]==false,'theme-green-color':selectedIndex[0]==true}">SAVE 28%</span></label>
                </li>
                <li class="item item-checkbox checkbox-balanced howOften" ng-click="changeValue(1,0,2,3,4)">
                    <label class="checkbox">
                        <input type="radio" name="group">
                    </label>
                    <label><span ng-class="{'theme-grey-color':selectedIndex[1]==false,'theme-green-color':selectedIndex[1]==true}">Every 2 weeks</span>
                        <p class="blue-color-text">MOST POPULAR</p>
                    </label>
                    <label><span class="float-right margin-top--10percent" ng-class="{'theme-grey-color':selectedIndex[1]==false,'theme-green-color':selectedIndex[1]==true}">SAVE 21%</span></label>
                </li>
                <li class="item item-checkbox checkbox-balanced howOften" ng-click="changeValue(2,0,1,3,4)">
                    <label class="checkbox">
                        <input type="radio" name="group">
                    </label>
                    <label><span ng-class="{'theme-grey-color':selectedIndex[2]==false,'theme-green-color':selectedIndex[2]==true}">Every 3 weeks</span></label>
                    <label><span class="float-right" ng-class="{'theme-grey-color':selectedIndex[2]==false,'theme-green-color':selectedIndex[2]==true}">SAVE 17%</span></label>
                </li>
                <li class="item item-checkbox checkbox-balanced howOften" ng-click="changeValue(3,0,1,2,4)">
                    <label class="checkbox">
                        <input type="radio" name="group">
                    </label>
                    <label><span ng-class="{'theme-grey-color':selectedIndex[3]==false,'theme-green-color':selectedIndex[3]==true}">Every 4 weeks</span></label>
                    <label><span class="float-right" ng-class="{'theme-grey-color':selectedIndex[3]==false,'theme-green-color':selectedIndex[3]==true}">SAVE 15%</span></label>
                </li>
                <li class="item item-checkbox checkbox-balanced howOften" ng-click="changeValue(4,0,1,2,3)">
                    <label class="checkbox">
                        <input type="radio" name="group" checked>
                    </label>
                    <label><span ng-class="{'theme-grey-color':selectedIndex[4]==false,'theme-green-color':selectedIndex[4]==true}">Just once</span></label>
                </li>
            </ul>
        </div>
    </ion-content>
    <!-- <div class="bar bar-footer" ng-class="{ 'bar-balanced': isValidStep }" ng-click="next()">
         <div class="title">Next</div>
     </div>-->
    <ion-footer-bar align-title="center" class="next-footer-green" ui-sref="bookingDate">
        <p class="title font-family-serif">NEXT</p>
    </ion-footer-bar>
</ion-view>
