<ion-view view-title="Home" hide-nav-bar="true">
    <ion-content class='home-page'>
    </ion-content>
    <div class='home-page-brand-container' ui-sref="booking">
        <img src="img/logo.png" class='logo'/>
        <br/>
        <div class="circle-text">
            <div>
                <p class="font-serif">BOOK</p>
            </div>
        </div>
    </div>

    <ion-footer-bar align-title="center" class="home-footer" ui-sref="bookingLogin">
        <p class="title footer-login-text font-family-serif">LOG IN</p>
    </ion-footer-bar>
</ion-view>
