<ion-view view-title="INCOMPLETE REVIEW" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <div>
            <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="review">
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="padding-top-3 review-icon">
            <img src="img/review-header-icon.png">
        </div>
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <div class="thankyou-div-popup">
            <div class="row height-2dot5em">
                <p class="col col-80 blue-text-color">Thank you for the review</p>
                <div class="col col-20"><i class="icon ion-ios-close popup-close-button"></i></div>
            </div>
            <div class="row font-size-8">
              <p class="width-34em">Your review will be published after moderated by our customer service staff</p>
            </div>
        </div>
        <div class="row height-4em padding-top-5percent">
            <div class="col blue-text-color padding-top-2percent padding-left-3percent">Display total 2 reviews</div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 theme-color-yellow font-x-large"><span class="question-mark-icon-text">6</span></i>
                <div class="col font-size-13 font-light-grey"><p>May 06 2015</p></div>
            </div>
            <div class="row">
                <div class="col col-90 theme-font-grey-color font-size-12">Write review now</div>
                <div class="col col-10">
                    <div class="row">
                        <div class="incomplete-status-bar">
                            <p class="incomplete-status-message">Pending</p>
                        </div>
                    </div>
                    <div class="row padding-left-56percent"><i class="icon ion-chevron-right float-right theme-font-grey-color"></i></div>
                </div>
            </div>
        </div>
        <div class="viewBackground margin-top-2">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 theme-cornflowerblue-color font-x-large"><span class="question-mark-icon-text">?</span></i>
                <div class="col font-size-13 font-light-grey"><p>May 06 2015</p></div>
            </div>
            <div class="row">
                <div class="col col-90 theme-font-grey-color font-size-12">Write review now</div>
                <div class="col"><i class="icon ion-chevron-right float-right theme-font-grey-color"></i></div>
            </div>
        </div>
    </ion-content>
</ion-view>
