<ion-view view-title="NOTIFICATION" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <div>
            <img src="img/black-back-arrow.gif" class="nav-black-button" ng-click="openModal()">
        </div>
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <div class="row viewBackground height-2dot5em margin-top-7">
            <p class="col font-size-12">Notify you new messages</p>
            <p class="padding-top-6 padding-right-13 theme-font-grey-color">No</p>
            <label class="toggle toggle-calm toogle-class">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <p class="padding-top-6 theme-font-grey-color">Yes</p>
        </div>
        <div class="row viewBackground height-2dot5em margin-top-7">
            <p class="col font-size-12">Notify you when cleaner come near</p>
            <p class="padding-top-6 padding-right-13 theme-font-grey-color">No</p>
            <label class="toggle toggle-calm toogle-class">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <p class="padding-top-6 theme-font-grey-color">Yes</p>
        </div><div class="row viewBackground height-2dot5em margin-top-7">
            <p class="col font-size-12">Notify incomplete review</p>
            <p class="padding-top-6 padding-right-13 theme-font-grey-color">No</p>
            <label class="toggle toggle-calm toogle-class">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <p class="padding-top-6 theme-font-grey-color">Yes</p>
        </div>
    </ion-content>
  </ion-view>
