<ion-view view-title="RECURING DETAILS" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <div class="sidemenu-icon-position">
            <i class="icon ion-navicon" ng-click="toggleLeft()"></i>
        </div>
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <div class="row">
            <div class="col col-66 z-index-9999" id="referral-topleft">
                <p class="blue-text-color">Recurring booking</p>
            </div>
        </div>
        <div id="referral-bottomright">
            <p class="padding-right-dot5em font-white recurring-p-first-child">Every 2 Weeks</p>
            <p></p>
            <p class="padding-right-dot5em font-white float-right recurring-header-p">at 4:00PM on SATURDAY</p>
        </div>
        <div class="row height-4em edit-button-header">
            <div class="col col-10">
                <img src="img/mopAndDrinkColor.png">
            </div>
            <div class="col col-50 blue-text-color padding-top-11 padding-left-8">Cleaning details</div>
            <span class="col col-offset-10">
                <button class="button button-small">
                    Edit
                </button>
            </span>
        </div>
        <div class="row viewBackground margin-top-2 height-2halfem">
            <p class="col col-80 theme-font-grey-color font-size-12">Bathrooms</p>
            <p class="col col-offset-10 theme-font-grey-color font-size-12">2</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-80 theme-font-grey-color font-size-12">Bedrooms</p>
            <p class="col col-offset-10 theme-font-grey-color font-size-12">2</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-80 theme-font-grey-color font-size-12">Extra services</p>
            <p class="col col-offset-10 theme-font-grey-color font-size-12">2</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-80 theme-font-grey-color font-size-12">Total Hours</p>
            <p class="col theme-font-grey-color font-size-12">5 hours</p>
        </div>
        <div class="row height-4em edit-button-header margin-top-03em">
            <div class="col col-10">
                <img src="img/paymentDetails.png">
            </div>
            <div class="col col-50 blue-text-color padding-top-11 padding-left-8">Cleaning details</div>
            <span class="col col-offset-10">
                <button class="button button-small">
                    Edit
                </button>
            </span>
        </div>

        <div class="row viewBackground margin-top-2 height-2halfem">
            <p class="col col-80 theme-font-grey-color font-size-12">Total</p>
            <p class="col theme-font-grey-color font-size-12">$79.00</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-80 theme-font-grey-color font-size-12">Paid?</p>
            <p class="col theme-font-grey-color font-size-12 margin-left-4-percent">NOT</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-50 theme-font-grey-color font-size-12">Card Number</p>
            <p class="col col-offset-10 theme-font-grey-color font-size-12">xxxx-xxxx-xxxx-3342</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-66 theme-font-grey-color font-size-12">Name on card</p>
            <p class="col theme-font-grey-color font-size-12 margin-left-2-percent">Steven Phung</p>
        </div>
        <div class="row height-4em edit-button-header margin-top-03em">
            <div class="col col-10">
                <img src="img/dropper.png">
            </div>
            <div class="col col-50 blue-text-color padding-top-11 padding-left-8">Cleaning details</div>
            <span class="col col-offset-10">
                <button class="button button-small">
                    Edit
                </button>
            </span>
        </div>

        <div class="row viewBackground  margin-top-2 height-2halfem">
            <p class="col col-66 theme-font-grey-color font-size-12">Pets</p>
            <p class="col theme-font-grey-color font-size-12 margin-left-2-percent">Yes 2 snakes</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-80 theme-font-grey-color font-size-12">Clearing Products?</p>
            <p class="col theme-font-grey-color font-size-12 margin-left-4-percent">No</p>
        </div>
        <div class="row viewBackground height-2halfem">
            <p class="col col-50 theme-font-grey-color font-size-12">Skip Areas</p>
            <p class="col col-offset-10 theme-font-grey-color font-size-12">Desk in bedroom</p>
        </div>
       <!-- <div class="row margin-top-03em bottom-buttons">
            <button class="button button-small button-full">Cancel this booking</button>
            <button class="button button-small button-full theme-font-grey-color">Reschedule this booking</button>
        </div>-->
        <div class="row margin-top-03em bottom-buttons">
            <button class="button button-full">Cancel this booking</button>
            <button class="button button-full theme-font-grey-color">Reschedule this booking</button>
        </div>
    </ion-content>
</ion-view>
