<ion-view view-title="REFERRAL" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <div class="sidemenu-icon-position">
            <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="dashboard">
        </div>
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
        <div class="row">
            <div class="col col-66 z-index-9999" id="referral-topleft">
                <p class="blue-text-color">Total Share:20</p>
            </div>
        </div>
        <div id="referral-bottomright">
            <p class="padding-right-dot5em font-white" style="margin-left: 33% !important;">Total Credit:$0.00</p>
        </div>
        <div class="padding-top-11">
            <div class="text-align-center"><img class="width-4em height-4em" src="img/barcode.png"></div>
            <div class="font-color-grey font-size-12 text-center"><p>Send this code to your friend and get free clean!</p></div>
        </div>
        <div class="row viewBackground margin-top-2">
            <div class="padding-top-1dot5percent"><img class="width-1dot5em" src="img/facebook.png"></div>
            <div class="col col theme-font-grey-color font-size-12 margin-left-10">Post it on facebook</div>
            <div class="col"><i class="icon ion-chevron-right float-right theme-font-grey-color"></i></div>
        </div>
        <div class="height-7"></div>
        <div class="row viewBackground margin-top-2">
            <div class="padding-top-1dot5percent"><img class="width-1dot5em" src="img/twiter.png"></div>
            <div class="col col theme-font-grey-color font-size-12 margin-left-10">Tweet it now</div>
            <div class="col"><i class="icon ion-chevron-right float-right theme-font-grey-color"></i></div>
        </div>
        <div class="height-7"></div>
        <div class="row viewBackground margin-top-2">
            <div class="padding-top-3"><img class="width-1dot5em" src="img/googleplus.png"></div>
            <div class="col col theme-font-grey-color font-size-12 margin-left-10">Post it to Google+</div>
            <div class="col"><i class="icon ion-chevron-right float-right theme-font-grey-color"></i></div>
        </div>
        <div class="height-7"></div>
        <div class="row viewBackground margin-top-2">
            <div class="padding-top-0dot8percent"><img class="width-1dot5em" src="img/linkedIn.png"></div>
            <div class="col col theme-font-grey-color font-size-12 margin-left-10">Post it to LinkedIn</div>
            <div class="col"><i class="icon ion-chevron-right float-right theme-font-grey-color"></i></div>
        </div>
        <div class="height-7"></div>
        <div class="row viewBackground margin-top-2">
            <div class="padding-top-1dot5percent"><img class="width-1dot5em" src="img/mail.png"></div>
            <div class="col col theme-font-grey-color font-size-12 margin-left-10">Mail to my friends</div>
            <div class="col"><i class="icon ion-chevron-right float-right theme-font-grey-color"></i></div>
        </div>
    </ion-content>
</ion-view>
