<ion-view view-title="REVIEW DETAILS" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <div>
            <img src="img/black-back-arrow.gif" class="nav-black-button" ui-sref="allReview">
        </div>
    </ion-nav-buttons>
    <ion-content class='booking-postcode bookingBackground'>
        <hr class="nav-bar-hr">
             <div class="viewBackground margin-top-06px">
            <div class="row height-2dot5em">
                <i class=" col col-10 icon ion-stop padding-top-1 theme-color-yellow font-x-large"><span class="icon-center-text margin-left--13">9</span></i>
                <div class="col"><p class="theme-font-grey-color">May 06 2015</p></div>
            </div>
            <div class="row">
                <div class="col theme-font-grey-color font-size-12">The clean was fantastic. The cleaner was very
                    reliable and thoughtful. All my house is sparkling
                </div>
            </div>
        </div>
        <div class="row viewBackground height-3dot5em margin-top-0dot5percent">
            <div class="col col-10">
                <i class=" col col-10 icon ion-record font-x-large color-cornblue">
                    <img class="circle-icon-image" src="img/photo.png"></i>
            </div>
            <div class="col col-20 padding-top-13">
                <p class="theme-font-grey-color">Lina</p>
            </div>
            <i class=" col col-20 icon ion-stop padding-top-9 padding-left-35 theme-color-yellow font-x-large"><span class="icon-center-text font-size-12 margin-left--5percent">8.3</span></i><p class="theme-font-grey-color padding-top-13">/32</p>
        </div>
    </ion-content>
  </ion-view>
