.inputBorder {
    border: none;
}
.iconBorder{
    padding-top: 10px
}
.textFont > input{
    font-size: 12px;
}
.iconsSize{
    width: 18px;
    height: 18px;
}
.locationMark{
    padding-top: 13px;
    padding-left: 10px
}
.locateIcon{
    padding-top: 5px;
    padding-left: 9px
}
.location-outline-pad-left{
    padding-left: 0;
}
.padding-left-6{
    padding-left: 6px
}
.border-LR-none{
    border-left: none;
    border-right: none;
    border-color: rgba(232, 229, 229, 0.65);
}
.label-font-margin{
    font-size: 12px;margin-left: -14px
}
