::-webkit-input-placeholder {
    color: #807d80 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #807d80 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #807d80 !important;
}

:-ms-input-placeholder {
    color: #807d80 !important;
}

.border-solid-2{
    border: solid #ffffff 2px !important;
}

.placeholder-grey-color{
    color: $placeholder-grey-color;
}
.font-weight-300{
    font-weight: 300;
}
.font-size-14{
    font-size: 14px
}
.font-family-cursive{
    font-family: cursive;
}
.font-family-serif{
    font-family: serif;
}
.background-grey-theme{
    background-color: $background-theme-grey;
}
.font-color-black{
    color:#000000;
}
.font-color-grey{
    color:#868383;
}
.text-align-center{
    text-align: center;
}
.theme-color-yellow-star{
    color: #ffff00;
}
.theme-grey-color{
    color:#8E8B8B !important;
}
.theme-green-color{
    color: $theme-green-color;
}
.next-footer-green{
    background-color: $theme-next-button-green;
}
.next-footer-green p {
    color: white;
    font-weight: 100 !important;
}
.theme-cornflowerblue-color{
    color: #80AAF7;
}
.bar.bar-stable .title {
    color: #504747 !important;
    font-family: initial !important;
    font-size: 1.1em !important;
}
.bar.bar-stable{
    border-color: #b2b2b2;
    background-color: $nav-bar-color !important;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}
.theme-font-grey-color{
    color: rgba(70, 69, 69, 0.75);
}
.theme-light-grey-color{
    color: rgba(130, 122, 122, 0.75);
}
.theme-color-yellow{
    color: rgba(247, 211, 23, 0.92);
}
.nav-bar-hr{
    margin-top: 1px;
    border: 0;
    border-top: 2px solid rgba(212, 218, 218, 0.93);
}
.nav-bar-progress-hr{
    float: left;
    margin-top: -8px;
    border-top: 3px solid rgba(97, 131, 16, 0.62);
}
.nav-black-button{
    width: 28px;
    height: 26px;
    margin-left: 8px;
    margin-top: 4px;
}
.margin-center{
    margin-left: 42%;
}
.margin-top-34em{
    margin-top: 0.34em;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-06px{
    margin-top: 06px !important;
}
.margin-top-3{
    margin-top: 3px;
}
.margin-top-1-percent{
    margin-top: 1% !important;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-4-percent{
    margin-left: 4% !important;
}
.margin-left-2-percent{
    margin-left: 2% !important;
}
.margin-left-3percent{
    margin-left: 3%;
}
.margin-left--1percent{
    margin-left: -1%;
}
.margin-left-12percent{
    margin-left: 12%;
}
.margin-top-0dot4em{
    margin-top: 0.4em;
}
.margin-left--12{
    margin-left: -12px;
}.margin-left--20{
     margin-left: -20px !important;
 }
 .margin-left--13{
     margin-left: -13px !important;
 }
 .margin-left--5percent{
     margin-left: -5%;
 }
 .margin-left--5dot5percent{
     margin-left: -5.5% !important;
 }
.bookingBackground{
    border-color: #b2b2b2 !important;
    background-color: #f5f5f5 !important;
}
.padding-left-25{
    padding-left: 25px;
}
.padding-left-30{
    padding-left: 30px
}
.padding-left-35{
    padding-left: 35px
}
.padding-left-40{
    padding-left: 40px
}
.padding-left-19{
    padding-left: 19px
}
.padding-left-8{
    padding-left: 8px;
}
.padding-left-40percent{
    padding-left: 40%;
}
.padding-left-3percent{
    padding-left: 3% !important;
}
.padding-left-4percent{
    padding-left: 4%;
}
.padding-left-3dot5percent{
    padding-left: 3.5%;
}
.padding-left-9dot5percent{
    padding-left: 9.5%;
}
.padding-left-21percent{
    padding-left: 21%;
}
.padding-left-5dot5percent{
    padding-left: 5.5%;
}
.padding-left-2dot5percent{
    padding-left: 2.5%;
}
.padding-left-7dot5percent{
    padding-left: 7.5%;
}
.padding-left-56percent{
    padding-left: 56%;
}
.padding-left-42percent{
    padding-left: 42%;
}
.padding-left-25percent{
    padding-left: 25%;
}
.padding-top-0{
    padding-top: 0;
}
.padding-top-1dot5px{
    padding-top: 1.5px
}
.padding-top-2px{
    padding-top: 2px
}
.padding-top-15{
    padding-top: 15px
}
.padding-top-17{
    padding-top: 17px;
}
.padding-top-13{
    padding-top: 13px;
}
.padding-top-9{
    padding-top: 9px;
}
.padding-left-35{
    padding-left: 35px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-6{
    padding-top: 6px;
}
.padding-top-5{
    padding-top: 5px;
}
.width-18{
    width: 18px !important;
}
.width-1dot5em{
    width: 1.5em !important;
}
.width-1em{
    width: 1em !important;
}
.width-6dot5em{
    width: 6.5em !important;
}
.width-11em{
    width: 11em !important;
}
.width-2em{
    width: 2em !important;
}
.width-5dot5em{
    width: 5.5em;
}
.width-21em{
    width: 21em !important;
}
.width-20em{
    width: 20em !important;
}
.width-12em{
    width: 12em !important;
}
.width-4em{
    width: 4em !important;
}
.width-9em{
    width: 9em !important;
}
.width-9dot5em{
    width: 9.5em;
}
.width-16em{
    width: 16em !important;
}
.width-2dot5em{
    width: 2.5em !important;
}
.width-4dot5em{
    width: 4.5em !important;
}
.width-13em{
    width: 13em !important;
}
.width-22dot5em{
    width: 22.5em !important;
}
.width-17dot2em{
    width: 17.2em !important;
}
.width-1dot8em{
    width: 1.8em !important;
}
.width-19em{
    width: 19em !important;
}
.width-10dot5em{
    width: 10.5em;
}
.width-34em{
    width: 34em;
}
.height-18{
    height: 18px;
}
.height-2emImportant{
    height: 2em;
}
.height-7{
    height: 7px;
}
.height-149{
    height: 149px !important;
}
.height-200{
    height: 200px !important;
}
.height-3{
    height: 3em;
}
.height-22{
    height: 22px;
}
.height-24{
    height: 24px;
}
.height-5em{
    height: 5em;
}
.height-4em{
    height: 3.8em;
}
.height-3dot5em{
    height: 3.5em !important;
}
.height-7dot5em{
    height: 7.5em;
}
.height-10dot7em{
    height: 10.7em;
}
.height-2dot5em{
    height: 2.5em;
}
.height-14em{
    height: 14em;
}
.height-11em{
    height: 11em;
}
.height-10dot5em{
    height: 10.5em;
}
.padding-top-8{
    padding-top: 8px !important;
}
.padding-top-7percent{
    padding-top: 7% !important;
}
.padding-top-4{
    padding-top: 4px;
}
.padding-top-5percent{
    padding-top: 5% !important;
}
.padding-top-2percent{
    padding-top: 2% !important;
}
.padding-top-2dot5percent{
    padding-top: 2.5%;
}
.padding-top-4dot5percent{
    padding-top: 4.5%;
}
.padding-top-1dot5percent{
    padding-top: 1.5%;
}
.padding-top-0dot8percent{
    padding-top: 0.8%;
}
.padding-top-1percent{
    padding-top: 1%;
}
.padding-top-0dot6percent{
    padding-top: 0.6%;
}
.padding-top-47percent{
    padding-top: 47%;
}
.padding-top-9{
    padding-top: 9px !important;
}
.padding-top-1em{
    padding-top: 1em !important;
}
.padding-top-6{
    padding-top: 6px;
}
.border-none{
    border: none;
}
.border-top-none {
    border-top:none
}
.border-bottom-none{
    border-bottom: none;
}
.padding-bottom-6{
    padding-bottom: 6px !important;
}
.padding-bottom-15{
    padding-bottom: 15px !important;
}
.viewBackground{
    background-color: #ffffff;
}
.font-size-12{
    font-size: 12px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-200percent{
    font-size: 200%;
}
.font-size-75percent{
    font-size: 75%;
}
.font-size-11{
    font-size: 11px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-40{
    font-size: 40px !important;
}
.font-size-10{
    font-size: 10px !important;
}
.font-size-13{
    font-size: 13px !important;
}
.font-size-8{
    font-size: 8px;
}
.diagonal-top-bar{
    height:4em;box-shadow: 0px 1px 16px 1px #ccc;width: 22em;padding-left: 11px;margin-left: 6px;
}
.font-small{
    font-size: small;
}
.font-smaller{
    font-size: smaller;
}
.font-x-large{
    font-size: x-large;
}
.padding-right-dot5em{
    padding-right: 0.5em;
}
.padding-right-13{
    padding-right: 13px;
}
.padding-right-16{
    padding-right: 16px;
}
.font-white{
    color: #ffffff;
}
.float-right{
    float: right;
}
.margin-top-2{
    margin-top: 2px !important;
}
.margin-top-1em{
    margin-top: 1em !important;
}
.margin-top-7{
    margin-top: 7px !important;
}
.margin-top-0dot5percent{
    margin-top: 0.5% !important;
}
.margin-right-2percent{
    margin-right: 2%;
}
.minus-margin-top-6{
    margin-top: -6px;
}
.minus-margin-top-3{
    margin-top: -3px;
}
.margin-top--10percent{
    margin-top: -10%;
}
.margin-top--46percent{
    margin-top: -46%;
}
.margin-top--14percent{
    margin-top: -14%;
}
.padding-top-3{
    padding-top: 3px;
}
.padding-top-11{
    padding-top: 11px;
}
.padding-top-1{
    padding-top: 1px;
}
.padding-top-15{
    padding-top: 15px !important;
}
.padding-top-18{
    padding-top: 18px !important;
}
.sidemenu-message-notification{
    float: right;
    margin-top: -24px;
    color: rgba(234, 55, 87, 0.98);
    font-size: 22px;
    min-width: 24px !important;
}
.sidemenu-message-notification span{
    margin-left: -12px;
    font-size: 12px;
    color: white;
    position: absolute;
    padding-top: 7px;
}
.sidemenu-icon-position{
    font-size: 30px;
    padding-left: 10px;
    padding-top: 3px;
}
.theme-yellowGreen-color{
    color: $theme-yellowGreen-color;
}
.margin-bottom-9{
    margin-bottom: 9px;
}
.menu-logout-button button{
    background-color: #000000;
    margin-top: 16px;
}
.menu-logout-button button > div{
    padding-top: 0px;
    margin-left: -55px;
    margin-top: -5px
}
.menu-logout-button button > div > i{
    font-size: x-large;
}
.text-wrap{
    width: 89%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.margin-top-minus-55{
    margin-top: -55px !important;
}
.header-save-button{
    margin-top: 8px;
    color: rgba(60, 148, 241, 0.68);
    margin-right: 10px;
}
.font-light-grey{
    color : $font-light-grey;
}
.image-avatar > img{
    width: 3.5em !important;
    height: 3.5em !important;
}
.opacity-0dot7{
    opacity: 0.7;
}
.background-color-none{
    background-color: transparent;
}
.no-underline{
    text-decoration: none;
}
