.question-mark-icon-text{
    margin-left: -13px; font-size: 13px; color: white; position: absolute; padding-top: 3px;
}
.review-icon > img{
    width: 27px;
    margin-top: 4px;
    margin-right: 5px;
}
