.white-box-swipe{
    background-color: $nav-bar-color;
    height: 10em;
}
.white-box-swipe img{
    width: 2.5em;
    height: 2.2em;
}
.margin-top-03em{
    margin-top: 0.3em !important;
}
.margin-left-09em{
    margin-left: 9.4em;
}
.margin-left-37{
    margin-left: 37%;
}
.margin-top-07em{
    margin-top: -0.7em !important;
}
